@model IEnumerable<CampusAcademiaApp.TblEvents>

@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>EventList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData["Message"] != null)
{
    if (TempData["MessageType"] == Constants.allModelProperties.MessageTypeError)
    {
        <div class="alert alert-danger result">
            <p><span class="glyphicon glyphicon-warning-sign"></span> @TempData["Message"]</p>
        </div>
    }
    else
    {
        <div class="alert alert-success result">
            <p><span class="glyphicon glyphicon-ok-circle"></span> @TempData["Message"]</p>
        </div>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            <img src="~/Uploads/EventImages/@item.EventImage" class="img-circle" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEvent", new { id = item.EventId }) |
            @Html.ActionLink("Details", "DetailEvent", new { id = item.EventId }) |
            @Html.ActionLink("Delete", "DeleteEvent", new { id = item.EventId })
        </td>
    </tr>
}

</table>
