@model IEnumerable<CampusAcademiaApp.DeptCourseView>

@{
    ViewBag.Title = "ListCourse";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    if (TempData["MessageType"] == Constants.allModelProperties.MessageTypeError)
    {
        <div class="alert alert-danger result">
            <p><span class="glyphicon glyphicon-warning-sign"></span> @TempData["Message"]</p>
        </div>
    }
    else
    {
        <div class="alert alert-success result">
            <p><span class="glyphicon glyphicon-ok-circle"></span> @TempData["Message"]</p>
        </div>
    }
}
<div class="panel panel-default">

    <div class="panel-heading">
        <h2 class="text-center">Course List</h2>
    </div>
    <div class="panel-body" style="min-height:700px">
        <p>
            @Html.ActionLink("Add New Course", "AddCourse", "AdminHome", null, new { @class = "btn btn-info" })
        </p>
        <table class="table table-hover">
            <tr class="alert-info" >
                <th>
                    @Html.DisplayName("Sr#")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th>
                    @Html.DisplayName("Action")
                </th>
            </tr>
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayName(count.ToString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCourse", new { id = item.CourseId }) |
                        @Html.ActionLink("Delete", "DeleteCourse", new { id = item.CourseId })
                    </td>
                    @{
                count++;
                    }
                </tr>
            }

        </table>

        </div>
    </div>
        @section scripts{

           <script type="text/javascript">
    $.noConflict();
    jQuery(function () {
        $('.result').fadeOut(10000);
    });
</script>

        }
        
