@model CampusAcademiaApp.UploadImage

@{
    ViewBag.Title = "uploadEventImages";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger result">
        <p><span class="glyphicon glyphicon-warning-sign"></span> @ViewBag.Message</p>
    </div>
}

<div class="panel panel-default">

    <div class="panel-heading">
        <h2 class="text-center">Upload Event Images</h2>
    </div>
    <div class="panel-body" style="min-height:700px">
        @using (Html.BeginForm("uploadEventImages", "AdminHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-offset-2" style="margin-top:60px">

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.tblPhotofoldername.FolderName, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.tblPhotofoldername.FolderName, new { @class = "form-control", @style = "width:300px;", @placeholder = "Department Name" })
                @Html.ValidationMessageFor(model => model.tblPhotofoldername.FolderName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.tblPhotogallery.Image, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.tblPhotogallery.Image, new { @class = "form-control", @style = "width:300px;", @type = "file", @multiple = "multiple",@id="fileupload" })
                @Html.ValidationMessageFor(model => model.tblPhotogallery.Image, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Upload" class="btn btn-default btn-success" />
                @Html.ActionLink(" Back ", "AllDepartments", "AdminHome", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
        }
        </div>
    </div>

        @section Scripts {
           @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $.noConflict();
    jQuery(function () {
        jQuery('.result').fadeOut(10000);
    });
    
</script>

        }
