@model CampusAcademiaApp.TblTeacher

@{
    ViewBag.Title = "addteaacher";
    Layout = "~/Views/Shared/FrontEndLayout.cshtml";
}

<h2>addteaacher</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TblTeacher</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherId)
                @Html.ValidationMessageFor(model => model.TeacherId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherFirstname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherFirstname)
                @Html.ValidationMessageFor(model => model.TeacherFirstname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherLastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherLastname)
                @Html.ValidationMessageFor(model => model.TeacherLastname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherGender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherGender)
                @Html.ValidationMessageFor(model => model.TeacherGender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherDob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherDob)
                @Html.ValidationMessageFor(model => model.TeacherDob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherEmail)
                @Html.ValidationMessageFor(model => model.TeacherEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherPhonenumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherPhonenumber)
                @Html.ValidationMessageFor(model => model.TeacherPhonenumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherAddress)
                @Html.ValidationMessageFor(model => model.TeacherAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentId)
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherImage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherImage)
                @Html.ValidationMessageFor(model => model.TeacherImage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherUserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherUserName)
                @Html.ValidationMessageFor(model => model.TeacherUserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherPassword)
                @Html.ValidationMessageFor(model => model.TeacherPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherDesignation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherDesignation)
                @Html.ValidationMessageFor(model => model.TeacherDesignation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherJobStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherJobStatus)
                @Html.ValidationMessageFor(model => model.TeacherJobStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherIsHOD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherIsHOD)
                @Html.ValidationMessageFor(model => model.TeacherIsHOD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherAppStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherAppStatus)
                @Html.ValidationMessageFor(model => model.TeacherAppStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDate)
                @Html.ValidationMessageFor(model => model.ModifyDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherValid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherValid)
                @Html.ValidationMessageFor(model => model.TeacherValid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherHasApp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherHasApp)
                @Html.ValidationMessageFor(model => model.TeacherHasApp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherApproveBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherApproveBy)
                @Html.ValidationMessageFor(model => model.TeacherApproveBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherFollowers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherFollowers)
                @Html.ValidationMessageFor(model => model.TeacherFollowers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeachergcmToken, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeachergcmToken)
                @Html.ValidationMessageFor(model => model.TeachergcmToken)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherLoginToken, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherLoginToken)
                @Html.ValidationMessageFor(model => model.TeacherLoginToken)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
